name: staging
on:
  push:
    branches:
      - staging

jobs:
  build:
    # Prevent running this on forks
    if: github.repository_owner == 'flybywiresim'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Run npm install
        run: |
          npm ci
      - name: Build config
        run: |
          npm run build -- staging
      - name: Upload to Bunny CDN
        env:
          BUNNY_BUCKET_PASSWORD: ${{ secrets.BUNNY_BUCKET_PASSWORD }}
          BUNNY_SECRET_TOKEN: ${{ secrets.BUNNY_SECRET_TOKEN }}
        run: |
          ./scripts/cdn.sh $BUNNY_BUCKET_DESTINATION ./dist
